form button{
  width: 100%;
}

.login {
  background-color: var(--color-brand);
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: var(--text-2);
  margin-top: 5px;
}

.register {
  padding: 9px;
  margin: 5px 0;
  font-weight: 700;
  font-size: var(--text-2);
  background-color: var(--color-brand);
  color: white;
  font-family: "Inter";
}

.back-home {
  background-color: white;
  color: var(--color-brand);
  font-family: "Poppins";
  font-weight: 700;
  font-size: var(--text-2);
}


#create-departament{
  height: 48px;
  width: 120px; 
  padding: 0 20px; 
  color: white;
  background-color: var(--color-brand);
}

#create-departament > img{
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.form-modal button{
  background-color: var(--color-brand);
  color: white;
  font-family: 'Inter';
  font-size: var(--text-2);
  font-weight: 700;
  margin-bottom: 20px;
}

.delete-departament button{
  color: white;
  background-color: var(--color-green);
  border: none;
  width: 80%;
  font-size: var(--text-1);
  font-weight: 700;
  font-family: 'Inter';
}

.hire-button button{
  width: 157px;
  background-color: var(--color-green);
  color: white;
  border: none;
  font-family: "Inter";
  font-weight: 700;
  font-size: var(--text-1);
}

.employee-list li div{
  width: 100%;

}

.employee-list li button{
  width: 157px;
  margin-top: 10px;
  background-color: white;
  color: var(--color-red);
  border:1px solid var(--color-red);
  font-family: "Poppins";
  font-weight: 700;
}