.register-form input{
  margin: 5px 0;
  padding: 10px;
  border: 1px solid gray;
  outline: var(--color-brand);
  font-size: var(--text-1);
  font-family: 'Inter';
  font-weight: 400;
  width: 100%;
}

.register-form input:focus{
  border-color: var(--color-brand);
}

.register-form select{
  margin: 5px 0;
  padding: 10px;
}

.form-modal input{
  margin: 5px 0;
  height: 52px;
  border: 1px solid gray;
  padding: 15px;
  outline: var(--color-brand);
  font-size: var(--text-2);
  color: grey;
}

.form-modal input:focus{
  border-color: var(--color-brand);
}

.form-modal select{
  margin: 5px 0 10px;
  height: 48px;
  padding: 10px;
  outline: var(--color-brand);
}

.form-modal select:focus{
  border-color: var(--color-brand);
}

.hire-user-form select{
  width: 477px;
  height: 52px;
}