@media (min-width: 800px) {
  .drop img {
    display: none;
  }
}

@media (max-width: 800px) {
  header {
    justify-content: space-between !important;
    padding-right: 2%;
  }

  form {
    width: 100% !important;
    top: 30% !important;
  }

  .buttons-drop {
    display: none;
  }

  .buttons-drop button{
    margin: 0 12px!important;
  }

  .drop:hover .buttons-drop {
    display: flex;
  }

  .drop:hover img {
    display: none;
  }
  .img-sec {
    display: none;
  }

  .second-column {
    width: 100%;
  }

  .second-column ul {
    display: flex;
    height: max-content;
    align-items: center;
  }

  .second-column ul li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    min-width: 241px;
  }
}
